@model IEnumerable<WebApp.Models.CompAnnouncement>

<section class="updates">
    <h2>Anunțuri Recente:</h2>
    <ul>
        @foreach (var announcement in Model)
        {
            <li>[@announcement.DateCreated] @announcement.Title - @announcement.Description</li>
        }
    </ul>
</section>
