@{
    ViewBag.Title = "De Bussy";
}

<h2>De Bussy</h2>

@* --- THIS IS A BUSSINESS & COURSES HOME PAGE --- 

    *** THIS BUSSINESS SHOULD BE USDED FOR SMALL BUSSINESSES OF R.M TO 
    PUBLISH THEIR BUSSINESSES AND POST ALL ABOUT THEIR BUSSINESSES
    
    THIS SHOULD BE USED FOR POSTING VACANCIESES, SHOP PRODUCTS ABT THE BUSSINESS ***

    OR

    *** THIS SHOULD BE  A WEBSITE FOR IT STUDENTS AND COMPANIES TO USE TO POST: 
        - SOME INSIGHTS ABT THE TECH INDUSTRY, 
        - VACANT JOBS IN COMAPNIES,
        - INFO ABT CO, 
        - SOME COURSES THAT WILL HELP STUDENTS GET IN THE TECH INDUSTRY,
        - SOME COURSES FROM CO WITH SPECIFICATIONS ABT THE VACANT POST THEY CHOOSE TO LEARN, 
        - ETC. ***

*@

