
@{
    ViewBag.Title = "Index";
}

<h3>Abbreviation</h3>
<div class="abbreviation-container">
    <span>ALPO: ALUMINUM POLE</span>
    <br>
    <span>ALLIPO: ALUMINUM LIGHT POLE</span>
    <br>
    <span>ALLIPO2: ALUMINUM LIGHT POLE (DOUBLE)</span>
    <br>
    <span>ASPH: ASPH DRIVE</span>
    <br>
    <span>ARGA: ARM GATE</span>
    <br>
    <span>BACO: BASKETBALL COURT</span>
    <br>
    <span>BIKE: BIKE RACK</span>
    <br>
    <span>BRICK: BRICK PAVER</span>
    <br>
    <span>GUPO: GUARD POLE</span>
    <br>
    <span>BLDG: BUILDING</span>
    <br>
    <span>CABX: CABLE BOX</span>
    <br>
    <span>CAPO: CAMERA POLE</span>
    <br>
    <span>COR: CROWN OF ROAD</span>
    <br>
    <span>COWA: CONCRETE WALL</span>
    <br>
    <span>CLF: CHAIN LINK FENCE</span>
    <br>
    <span>COBX: COMMUNICATION BOX</span>
    <br>
    <span>COMH: COMMUNICATION MH</span>
    <br>
    <span>C/P: COVER PORCH</span>
    <br>
    <span>COWA: CONCRETE WALL</span>
    <br>
    <span>COPO: CONCRETE POLE</span>
    <br>
    <span>COLIPO: CONCRETE LIGHT POLE</span>
    <br>
    <span>COLIPO2: CONCRETE LIGHT POLE (DOUBLE)</span>
    <br>
    <span>DRACMH: DRAINAGE ACCESS MANHOLE</span>
    <br>
    <span>DRCB: DRAINAGE CATCH BASIN</span>
    <br>
    <span>CIDRCB: CIRCULAR DRAINAGE CATCH BASIN</span>
    <br>
    <span>DRIN: DRAINAGE INLET</span>
    <br>
    <span>DRMH: DRAINAGE MANHOLE</span>
    <br>
    <span>DRSI: DRAINAGE SWALE INLET</span>
    <br>
    <span>SQDR: SQUARE DRAINAGE</span>
    <br>
    <span>EP: EDGE OF PAVEMENT</span>
    <br>
    <span>EW: EDGE OF WATER</span>
    <br>
    <span>ELAN: ELECTRIC ANCHOR</span>
    <br>
    <span>ELTRBX: ELECTRICAL TRANSFORMERS BOX</span>
    <br>
    <span>ELMH: ELECTRIC MANHOLE</span>
    <br>
    <span>FLAG: FLAG</span>
    <br>
    <span>(F): A FENCE MEASUREMENT</span>
    <br>
    <span>FIP: FIND IRON PIPE</span>
    <br>
    <span>FN PROP: FOUND NAIL ON PROPERTY</span>
    <br>
    <span>FRI PROP: FOUND RIBAR ON PROPERTY</span>
    <br>
    <span>FND CL: FOUND NAIL & DISC ON CENTER LINE</span>
    <br>
    <span>GAME: GAS METER</span>
    <br>
    <span>GAMH: GAS MANHOLE</span>
    <br>
    <span>GAP: SPACE BETWEEN TWO OBJECTS</span>
    <br>
    <span>GAVA: GAS VALVE</span>
    <br>
    <span>GRLI: GROUND LIGHT</span>
    <br>
    <span>GTMH: GREASE TRAP MANHOLE</span>
    <br>
    <span>GUPO: GUARD POST</span>
    <br>
    <span>IRBX: IRRIGATION BOX</span>
    <br>
    <span>IRME: IRRIGATION METER</span>
    <br>
    <span>IRPU: IRRIGATION PUMP</span>
    <br>
    <span>IRVA: IRRIGATION VALVE</span>
    <br>
    <span>MB: MAIL BOX</span>
    <br>
    <span>MEFE: METAL FENCE</span>
    <br>
    <span>MECU: METAL COLUMN</span>
    <br>
    <span>MESH: METAL SHED</span>
    <br>
    <span>FND: FOUND NAIL & DISC</span>
    <br>
    <span>P5: DRAINAGE P5 INLET</span>
    <br>
    <span>P6: DRAINAGE P6 INLET</span>
    <br>
    <span>PHBX: PHONE BOX</span>
    <br>
    <span>PKKI: PARKING KIOSK</span>
    <br>
    <span>PAME: PARKING METER</span>
    <br>
    <span>PLFE: PLASTIC FENCE</span>
    <br>
    <span>PLAY: PLAYGROUND</span>
    <br>
    <span>PRVA: PRESSURE VALVE</span>
    <br>
    <span>POVA: POST INDICATOR VALVE</span>
    <br>
    <span>PECS: PEDESTRIAN CROSS SIGNAL</span>
    <br>
    <span>ROCO: ROUND COLUMN</span>
    <br>
    <span>SAMH: SANITARY MANHOLE</span>
    <br>
    <span>SASEMH: SANITARY SEWER MANHOLE</span>
    <br>
    <span>S/C: SCREEN COVER PORCH</span>
    <br>
    <span>SECO: SEWER CLEAN-OUT</span>
    <br>
    <span>STSEMH: STORM SEWER MANHOLE</span>
    <br>
    <span>SEMH: SEWER MANHOLE</span>
    <br>
    <span>SEVA: SEWER VALVE</span>
    <br>
    <span>SLBX: STREET LIGHT BOX</span>
    <br>
    <span>SQCO: SQUARE COLUMN</span>
    <br>
    <span>SOPA: SOLAR PANEL</span>
    <br>
    <span>TRCOBX: TRAFFIC CONTROL BOX</span>
    <br>
    <span>STRSG: STREET TRAFFIC SIGN</span>
    <br>
    <span>TRSIBX: TRAFFIC SIGNAL BOX</span>
    <br>
    <span>TRSIPO: TRAFFIC SIGNAL POLE</span>
    <br>
    <span>TOW: TOP OF WATER</span>
    <br>
    <span>UKBX: UNKNOWN BOX</span>
    <br>
    <span>UKMH: UNKNOWN MANHOLE</span>
    <br>
    <span>VASEMH: VACUUM SEWER MANHOLE</span>
    <br>
    <span>VASESY: VACUUM SEWER SYSTEM (Key West)</span>
    <br>
    <span>VENT: VENTILATION</span>
    <br>
    <span>BAFLPR: BACK FLOW PREVENTER</span>
    <br>
    <span>VABRAS: VACUUM BREAKER ASSEMBLY</span>
    <br>
    <span>DTCV: DOUBLE DETECTOR CHECK VALVE</span>
    <br>
    <span>WAFH: WATER FIRE HYDRANT</span>
    <br>
    <span>WAME: WATER METER</span>
    <br>
    <span>WASC: SIAMESE CONNECTION</span>
    <br>
    <span>WAMH: WATER MANHOLE</span>
    <br>
    <span>WAVA: WATER VALVE</span>
    <br>
    <span>WOFE: WOOD FENCE</span>
    <br>
    <span>WELL: DRAINAGE WELL</span>
    <br>
    <span>WOCU: WOOD COLUMN</span>
    <br>
    <span>WODE: WOOD DECK</span>
    <br>
    <span>WOPO: WOOD POLE</span>
    <br>
    <span>WPP: WOOD POWER POLE</span>
    <br>
    <span>WOLIPO: WOOD LIGHT POLE</span>
</div>
